/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(/img/OIP.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }
  [data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(/img/OIP.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }